Source: mint-yz-icons
Section: gnome
Priority: optional
Maintainer: Sébastien Bouchard <sebastjava@hotmail.ca>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: mint-yz-icons
Architecture: all
Description: Mint-Yz icon theme
 Forked from linuxmint/mint-y-icons.
 A flat, colorful, and modern theme based on
 Paper and Moka.
